{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <title>Create book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>{{message}}</h1>
    <h1> I got the sauce</h1>
    <h3> BOoks?!!!?! </h3>
    <form action="/createUser/" method="post">
    {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}

            {{ field.label_tag }}* {{ field }}
        <br>
        {% endfor %}
    *required<br><br>
    <input type="submit" value="Submit" />
    </form>
{% endblock %}